{% extends '../base.html' %}

{% block navbar %}
  {% include 'components/navbar.html' %}
{% endblock %}

{% block title %}Editar Camisa{% endblock %}

{% block list %}
<div class="container mt-5">
    <h2 class="mb-4">Deletar Camisa</h2>
    <form action="{% url 'deletar-camisas' camisa.pk%}" method="post" enctype="multipart/form-data"> 
        {% csrf_token %}
        <center>
            <div class="alert alert-danger" role="alert">
                <p>Tem certeza que deseja excluir a camisa? "{{object}}"?</p>
            </div>

            <input type="submit" value="Confirmar" class="btn btn-danger" />
        </center>
        
    </form>
</div>
{% endblock %}

{% block footer %}
  {% include 'components/footer.html' %}
{% endblock %}